<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</head>
<body>
    <table border="1px" width="800px" align="center">
        <tr border="1px">
            <th border="1px">id</th>
            <th border="1px">name</th>
            <th border="1px">email</th>
            <th border="1px">delete</th>
            <th border="1px">edit</th>
        </tr>
        <%users.forEach(function(users){%>
            <tr border="1px">
                <td border="1px"><%=users._id%></td>
                <td border="1px"><%=users.name%></td> 
                <td border="1px"><%=users.email%></td>
                <td border="1px"><a href="/delete/<%=users._id%>">Delete</a></td>
                <td border="1px"><a href="/edit/<%=users._id%>">Edit</a></td>
            </tr>
        <%})%>
        <tr colspan="4">
            <td border="1px"><a href="/">Insert Data</a></td>
        </tr>
    </table>
</body>
</html>